# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify key libraries used in Data Science
- Understand different Data Science tools and environments
- Perform basic data manipulation and analysis
- Visualize data using various plotting techniques

Some of the commonly used libraries used by Data Scientists include:

    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. Scipy
3. Pandas

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Pietro